.item {
    position: relative;
}

.created_at {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.item:hover .created_at {
    display: "inline-block";
}