.item {
    position: relative;
}

.created_at {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 9px;
    padding: 5px 10px;
    border-radius: 3px;
    background: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.item:hover .created_at {
    display: inline-block;
}

.delete_btn {
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
    z-index: 100;
    cursor: pointer;
}

.item:hover .delete_btn {
    display: inline-block;
}