.pre {
    /* white-space: pre-wrap; */
    /* word-break: break-word; */
    background: #111;
    color: #94a3b8;
    /* color: #0f0; */
    padding: 12px;
    border-radius: 8px;
    max-height: 500;
    overflow: auto;
    user-select: text;
}

.iframe {
    width: 100%;
    height: 500;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.image {
    max-width: 100%;
    border-radius: 8px;
}

.media {
    max-width: 100%;
    border-radius: 8px;
}